.wrapper1 {
    position: relative;
    width: 400px;
    height: 580px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
}

.wrapper2 .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper1 .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper1 .form-box.cadastro{
    position: absolute;
    transition: none;
    transform: translateX(center);
}

.wrapper1.active .form-box.cadastro{
    transition: transform .18s ease;
    transform: translateX(0);

}

.input-box select{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    border: none;
    background: transparent;
}
