
/* COMANDO DE EXECUÇÃO DO CSS */

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}



/* DIV FILHA DA TELA DE CADASTRO */


.wrapper .form-box.cadastro{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.cadastro{
    transition: transform .18s ease;
    transform: translateX(0);

}


/* OUTRAS TAGS DENTRO DAS TAGS DE LOGIN E CADASTRO */





.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

