{% extends "index.html" %}

{%block titulo %}Cadastro Finalizado{% endblock %}

{% block principal %}
<!-- <!DOCTYPE html>
<html lang="pt-br"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Realizado com Sucesso</title>
    <link rel="stylesheet" href="/assets/css/cadastro_finalizado.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro Realizado com Sucesso!</h1>
        <p>O seu cadastro foi concluído com sucesso. para logar em sua conta, clique no botão abaixo:</p>
        <a href="/" class="btn">Voltar à Tela Inicial</a>
    </div>
</body>
<!-- </html> -->
{% endblock%}