{% extends "index.html" %}

{%block titulo %}Opções{% endblock %}

{% block principal %}
<!-- <!DOCTYPE html>
<html lang="pt-br"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/assets/css/opcoes.css">
</head>
<body>
    <div class="container">
        <h1>Escolha o tipo de cadastro</h1>
        <div class="buttons">
            <a href="cadastro_cliente" class="btn">Cliente</a>
            <a href="cadastro_fornecedor" class="btn">Fornecedor</a>
        </div>
    </div>
</body>
<!-- </html> -->
{% endblock%}