{% extends "index.html" %}

{%block titulo %}Sobre{% endblock %}

{% block principal %}
<!-- <!DOCTYPE html>
<html lang="pt-br"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/sobre.css">
    <link rel="stylesheet" href="assets/css/ambos.css">
    <title>Sobre Nós</title>
</head>

<body>
    <header>
        
        <h2 class="logo">Street Wave</h2>
        <i class='bx bx-menu' id="menu"></i>
        <nav class="navegation" id="itens">
            <a href="lojasemcadastro">Loja</a>
            <a href="blog">Blog</a>
            <a href="sobre">Sobre</a>
            <a href="/">   
                <button class="btnLogin-popup">Login</button>
            </a>
                
        </nav>
          
        
    </header>
    <div class="team-section">
        <div class="about">
            <div class="row">
                <div class="title">
                    <h1>Sobre Nós</h1>
                    <p>O intuito de criar nossa marca é propor a liberdade de expressão e enfatizar uma cultura própria. Desenvolvendo e confeccionando originalidade e estabelecendo personalidade na sociedade. Essa essência pretende abordar aspectos para chamar atenção e criando assim um imaginário único para aqueles que se relacionam com o universo da marca.</p>
                </div>
            <div class="team-card">
                <div class="card">
                    <div class="imagem-section">
                        <img src="assets/img/images.jfif" alt="imagem1">
                    </div>
                    <div class="nome">
                        <h3>Marcos Vinicius</h3>
                        <h4>Web Developer</h4>
                        <p> É um profissional que se dedica ao desenvolvimento nosso website e aplicações web. Seu trabalho envolve a criação e manutenção do lado do cliente (frontend) e/ou do lado do servidor (backend) de um site</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem-section">
                        <img src="/assets/img/images (2).jfif" alt="imagem2">
                    </div>
                    <div class="nome">
                        <h3>Raphael Cardoso</h3>
                        <h4>Web Designer</h4>
                        <p> Projeta a aparência visual e a experiência do usuário do site e páginas da web</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem-section">
                        <img src="assets/img/images (1).jfif" alt="imagem2">
                    </div>
                    <div class="nome">
                        <h3>Ailton Martins</h3>
                        <h4>Marketing</h4>
                        <p>Profissional que trabalha com marketing desempenha uma variedade de funções que visam promover produtos, serviços ou marcas e alcançar objetivos comerciais específicos</p>
                    </div>
                </div>
            </div>
            </div>        
        </div>

    </div>
    
</body>
<!-- </html> -->
{% endblock%}